.container {
    margin-left: 10%;
    position: block;
    margin-right: 10%;
  }
  .center-h {
    justify-content: center;
  }
  .center-v {
    align-items: center;
  }
  
  
  mat-card-title,
  mat-card-subtitle {
    margin-left: 10%;
    color: black;
  }
  
  mat-card-content {
    justify-content: center;
    margin-right: 5%;
  }
  
  mat-card-actions {
    margin-left: 40%;
  }
  
  .btn{
    margin: 1%;
  }
  .text{
    margin-top: 4%;
    text-align: center;
    justify-content: center;
  }
 

//mat-table centrada  y responsive y las columnas iguales al los datos    
.mat-table {
  overflow: auto;
}

table {
  width: 100%;
}

td{
  text-align: center;
  vertical-align: center;
}
@media(max-width: 500px){
    table, .container  {
      width: 80%;
      margin: 0%;
    }
    td {
      text-align: left;
      vertical-align: left;
      font-size: 9px;
      margin-left: 4%;
    }
    .encabesado {
      text-align: left;
      font-size: 9px;
    }
    
    mat-card-actions{
      margin-left: 20%;
    }
  }
.encabesado {
  text-align: center;
}

.mat-header-cell {
  font-size: 12px;
}

// @media print
//   .doNotPrintdisplay:none !important;