.container {
  margin-left: 10%;
  position: block;
  ;
}


mat-card-title,
mat-card-subtitle {
  margin-left: 10%;
  color: black;
}

mat-card-content {
  justify-content: center;
  margin-right: 5%;
}

.subti {
  margin-top: 4%;
  color: black;
}

.btn {
  margin-bottom: 3%;
}

mat-card-actions {
  margin-left: 40%;
}

.cardResponse {
  justify-content: center;
  width: 80%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 8%;

}

.colorSnakBar {
  color: white;
}

.mat-form-field {
  width: 220px;
}



.reCapcha {
  margin-left: 40%;
  margin-top: 1%;
  margin-bottom: 3%;
}

re-captcha.is-invalid>div {
  border: 1px solid #dc3545 !important;
  border-radius: 0.2rem;
}

.centrofrom {
  display: flex;
  margin-top: 4%;
  /* align-items por defecto tiene el valor `stretch` */
}

.center-h {
  justify-content: center;
}

.center-v {
  align-items: center;
}


.card {
  margin-right: 15%;
  width: 280px;
  height: 230px;
}


input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

  -webkit-appearance: none;

  margin: 0;

}



input[type=number] {

  -moz-appearance: textfield;

}