<app-header></app-header>

<!-- <mat-tab-group mat-align-tabs="center" [color]="value">
    <mat-tab  label="Inicio" #tab [disabled]='!tab.isActive' >
        <ng-template matTabContent >
            
        </ng-template>
    </mat-tab>
    <mat-tab label="Solicitud" #tab [disabled]='!tab.isActive'>
        <ng-template matTabContent >
           
        </ng-template>
    </mat-tab>
   <mat-tab label="Registrar" #tab [disabled]='!tab.isActive'>      
        <ng-template matTabContent >
            
        </ng-template>
    </mat-tab>
</mat-tab-group> -->


<div class="container center-h center-v">
    <br>
    <mat-card-title>
       <small> Acreditacion Domicilio / Solicitud</small>
    </mat-card-title>
    <mat-card-content>       
        <div>
            <button mat-raised-button color="primary" type="button" class="btn"
                routerLink="/Request">Iniciar</button>
            <div class="logotipo">
                <a href=""><img class="logo" src="assets/img/pngegg.png"></a>
            </div>
        </div>
    </mat-card-content>
</div>


<app-footer></app-footer>