<!-- <app-header></app-header>
<app-nav-bar></app-nav-bar> -->

<div class="container center-h center-v">
    <br>
    <mat-card-title>
       <small> Acreditacion Domicilio / Solicitud</small>
    </mat-card-title>
    <mat-card-content>       
        <div>
            <button mat-raised-button color="primary" type="button" class="btn"
                routerLink="/Solicitud">Inciar</button>
            <div class="logotipo">
                <a href=""><img class="logo" src="assets/img/pngegg.png"></a>
            </div>
        </div>
    </mat-card-content>
</div>


<!-- <app-footer></app-footer> -->