<header class="header">
    <div class="header-content center-h">
        <div class="titulo">
            <mat-card-title >
               <p style="text-align: left; margin-top: 1rem;">ACREDITADOM <i class="bi bi-person-fill"></i></p> 
            </mat-card-title>
            <p>Acreditacion de domicilio para migrantes venezolanos afiliados al regimen subsidiado en BogotaD.C<br>
                <small>Articulo 2.1.5.4.1 del Decreto 780 del 2016, adicionado por el Decreto 616 de 2022</small>
            </p>

        </div>
        <div class="logotipo">
            <a href=""><img class="logo" src="assets/img/LogoAlcaldiaBogo.png"></a>
        </div>
    </div>
</header>